- tabs = @options[:windows]

.composite
  .notebook
    %span{:id => "#{tabs.first[:id]}-tab", :class => "tab"}= tabs.first[:name]
    - for tab in tabs[1..-1]
      %span{:id => "#{tab[:id]}-tab", :class => "tab disabled"}= tab[:name]

    .window
      %span{:id => "#{tabs.first[:id]}"}
      -for tab in tabs[1..-1]
        %span{:id => "#{tab[:id]}", :style => "display:none"}
